<div *ngIf="'wait'===screen">
  <div class="alert alert-light">
    <i class="fas fa-spinner fa-spin"></i> Please wait...
  </div>
</div>

<div *ngIf="'error'===screen">
  <div class="alert alert-danger">
    <i class="fas fa-exclamation-triangle"></i>
    <span>
      An unexpected error occurred.
      <br>
      Code: {{error.code}} | Message: {{error.message}}
    </span>
  </div>
</div>
<div *ngIf="'success'===screen">
  <div class="alert alert-success">
    <i class="fas fa-check"></i>
    We&rsquo;ve sent an email verification link
    to {{user.email}}.
  </div>
</div>
