<div class="form-group">
  <label [attr.for]="formId + 'email'">Email Address</label>
  <input
    [attr.id]="formId + 'email'"
    [attr.aria-describedby]="formId + 'email-help'"
    type="email"
    [formControl]="emailFc"
    (blur)="fetch()"
    placeholder="Email Address"
    class="form-control form-control-lg"
    [class.is-invalid]="showInvalid(emailFc)">
  <ngx-form-error [control]="emailFc" key="required">
    Required.
  </ngx-form-error>
  <ngx-form-error [control]="emailFc" key="email">
    Invalid email.
  </ngx-form-error>
  <ngx-form-error [control]="emailFc" key="auth/invalid-email">
    Invalid email.
  </ngx-form-error>
  <small class="form-text text-muted" [attr.id]="formId + 'email-help'">
    To get started, enter your email address.
    If you don’t have an account, we’ll create one for you.
  </small>
</div>
